<% 
# TODO send this to helper
def format_ore_popup_text(title, date, counter, confirmed)
	title = title.titleize
	date  = date.strftime("%H:%M%P %h/%d ")

	"#{title} <br/> 
		<div style='white-space:nowrap;'>#{date}</div>
		<div style='white-space:nowrap;'><b class='counter #{confirmed ? 'confirmed' : ''}'>#{counter}</b> confirmations.</div>
	" 
end

%>

<a href="#" class="ore" rel="popover" 
   style="top: <%= "#{@ore.y}%" %>; left: <%= "#{@ore.x}%" %>" >
	
	<%= 
	image_tag "#{@ore.name}.png",
		
		
		rel: "tooltip", 
		data: { 
			id: @ore.id, 
			html: true,
			placement: "top", 
			'original-title' => format_ore_popup_text(@ore.name, @ore.created_at, @ore.confirmations_count, @user_confirmed)
		} 
	%>

</a>
